
/* <--- COMMONS ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* <--- HEADER ---> */

.viewport{
    width: 100%;
    height: 100vh;
}

nav {
    position: fixed;
    top: 15px;
    right: 0;
    z-index: 3;
  }

ul{
    font-weight: bold;
    font-size: 10px;
}

li{
    list-style-type: none;
    padding: 15px;
    float: left;
}

li a {
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

/* <--- MAIN ---> */

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description-shoes{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: yellow;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.green{
    color: green;
}

#first-shoes{
    background-color: red;
    position: relative;
}

#second-shoes{
    background-color: green;
    position: relative;
}

#third-shoes{
    background-color: yellow;
    position: relative;
}