*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.viewport{
    width: 100%;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    border: 3px solid #73AD21;
  }


ul{
    font-weight: bold;
    font-size: 10px;
    
}

li{
    
    list-style-type: none;
    padding: 50px;
    border: 5px solid black;
    float: left;
}

li a {
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    
}



#first-shoes{
    background-color: red;
}

#second-shoes{
    background-color: green;
}

#third-shoes{
    background-color: yellow;
}